@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #3071ee;
  --main-darklg: #1e2737;
  --main-dark: #17202b;
  --main-light: #f0f0f0;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  position: relative;
  width: 100%;
  background-color: var(--main-darklg);
}

.logo > h3 {
  color: var(--main-light);
}

.main {
  overflow: hidden;
  height: 62vh;
  display: flex;
}

.main__left {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.videos__group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-dark);
}

video {
  height: 100%; /* Adjust the height */
  width: 100%; /* Adjust the width */
  border-radius: 0.9rem;
  margin: 0.5rem;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.videos {
  position: relative;
  height: 100%;
}
.remotevideo {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  height: 150px; /* Adjust the size */
  width: 200px; /* Adjust the size */
  border-radius: 0.9rem;
  transform: rotateY(180deg); /* If needed */
  -webkit-transform: rotateY(180deg); /* If needed */
  -moz-transform: rotateY(180deg); /* If needed */
}

.options {
  padding: 1rem;
  display: flex;
  background-color: var(--main-darklg);
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 52px;
  border-radius: 6px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 52px;
  margin: 0 0.5rem;
}
.options__button.call {
  border-radius: 50%; /* Makes the button circular */
  padding: 6px;
  color: white; /* Sets the icon color to white */
}

.options__button.call.onCall {
  background-color: red; /* Red background when on call */
}

.options__button.call.notOnCall {
  background-color: green; /* Green background when not on call */
}
.options__button.message {
  border-radius: 50%; /* Makes the button circular */
  background-color:   rgb(45, 151, 209); /* Sets the icon color to white */
   padding: 6px;
  color: white; /* White icon color */
}

.background__red {
  background-color: #f6494b;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  background-color: #253041;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__message_container > input {
  height: 52px;
  flex: 1;
  font-size: 1rem;
  border-radius: 6px;
  padding-left: 20px;
  border: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.messages li {
  text-align: left;
  width: 65%;
}

.my-message {
  text-align: right;
  margin-left: auto; /* Push it to the right */
}

.message {
    display: flex;
    flex-direction: column;
  }

  .message > b {
    color: #f0f0f0;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  .message > b > i {
    margin-right: 0.7rem;
    font-size: 1.5rem;
  }

  .message > span {
    background-color: #f0f0f0;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
  }


  #video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #showChat {
    display: none;
  }

  .header__back {
    display: none;
    position: absolute;
    font-size: 1.3rem;
    top: 17px;
    left: 28px;
    color: #fff;
  }

  @media (max-width: 700px) {
    .main__right {
      display: none;
    }
    .main__left {
      width: 100%;
      flex: 1;
    }

    video {
      height: auto;
      width: 100%;
    }

    #showChat {
      display: flex;
    }
  }
